

.LabelEnable {
    position: absolute;
    font-size: 31px;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Font/Rajdhani-Bold.ttf?fileID=12800000&guid=585eb9b5ee4ddb84e987fe35c590e8e5&type=3#Rajdhani-Bold");
    color: rgb(185, 176, 176);
    top: 900px;
    left: 1392px;
    width: 249px;
}
