.pharus-container {
    flex-direction: row;
    align-items: center;
}

.p-text,
.harus-text {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/MajorMonoDisplay-Regular.ttf?fileID=12800000&guid=1c6055126d6c64243857a37807bb5650&type=3#MajorMonoDisplay-Regular");
    font-size: 90px;
    color: rgb(255, 255, 255);
}
