.logo-container {
    justify-content: center;
    align-items: center;
}

.pharus-text {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Font/MajorMonoDisplay-Regular.ttf?fileID=12800000&guid=78d9512c577f93f43b388e480e48a9b5&type=3#MajorMonoDisplay-Regular");
    font-size: 128px;
    color: rgb(255, 255, 255);
    letter-spacing: -187px;
    -unity-text-align: middle-center;
}
